.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  display: grid;
  grid-template-areas: "header header" "navbar content";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  align-items: start;

  & > * {
    padding: 15px;
    background-color: rgb(177, 202, 207);
    border-radius: 7px;
  }
  min-height: 100vh;
  padding: 15px 0;
}

.app {
  min-height: 100vh;
}

.contentblock {
  grid-area: content;
  align-self: stretch;
}
